ontology/voc/tapir/structure/lib/rdf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <xs:element name="versionInfo" type="xs:string"/>
  <xs:attribute name="resource" type="xs:anyURI" />
  <xs:attribute name="about" type="xs:anyURI" />
 
</xs:schema>
