ontology/voc/tapir/structure/TaxonName/TaxonName_content.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- $Rev: 776 $ -->
<!-- $Date: 2006-12-13 21:56:41 +0000 (Wed, 13 Dec 2006) $ -->
<!-- $Author: RogerHyam $ -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://rs.tdwg.org/ontology/voc/TaxonName#" xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:tn="http://rs.tdwg.org/ontology/voc/TaxonName#"
  xmlns:tt="http://rs.tdwg.org/ontology/voc/Team#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:tcom="http://rs.tdwg.org/ontology/voc/Common#">
  <xs:import namespace="http://rs.tdwg.org/ontology/voc/Team#" schemaLocation="Team.xsd"/>
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="../lib/dc.xsd"/>
  <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="../lib/dcterms.xsd"/>
  <xs:import namespace="http://rs.tdwg.org/ontology/voc/Common#" schemaLocation="../lib/tcom.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="../lib/rdf.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/07/owl#" schemaLocation="../lib/owl.xsd"/>
  <xs:annotation>
    <xs:documentation> This schema is designed to help produce XML instance documents that are valid RDF and so can be consumed by semantic web based applications. It is not a normative document. The
      TaxonName LSID vocabulary (http://rs.tdwg.org/ontology/voc/TaxonName) contains the definitions and documentation for the different fields found here. Please refer to the vocabulary for more
      details. </xs:documentation>
  </xs:annotation>
  <xs:element name="TaxonName">
    <xs:complexType>
      <xs:sequence>

        <!-- external vocabularies -->
        <xs:element ref="dc:title" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dc:identifier" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="owl:sameAs" minOccurs="0" maxOccurs="unbounded" />

        <!-- ownership -->
        <xs:element ref="dc:creator" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dc:contributor" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dc:publisher" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:license" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:rightsHolder" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:accessRights" minOccurs="0" maxOccurs="unbounded"/>

        <!-- dates -->
        <xs:element ref="dc:date" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:created" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:dateSubmitted" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:modified" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:issued" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:available" minOccurs="0" maxOccurs="unbounded"/>

        <!-- general links -->
        <xs:element ref="dcterms:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:references" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:isRequiredBy" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dc:relation" minOccurs="0" maxOccurs="unbounded"/>

        <!-- provenance -->
        <xs:element ref="dc:source" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:replaces" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:provenance" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:hasVersion" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dcterms:isVersionOf" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="owl:versionInfo" minOccurs="0" maxOccurs="unbounded"/>

        <!-- common properties -->
        <xs:element ref="tcom:isDeprecated" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="tcom:versionedAs" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="tcom:publishedIn" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="tcom:publishedInCitation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="tcom:microReference" minOccurs="0" maxOccurs="unbounded"/>

        <!-- properties local to this class -->
        <xs:element name="nomenclaturalCode" minOccurs="0" maxOccurs="unbounded" type="tcom:SimpleLinkType"/>
        <xs:element name="nameComplete" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="uninomial" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="genusPart" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="infragenericEpithet" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="specificEpithet" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="infraspecificEpithet" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="cultivarNameGroup" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="authorship" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="basionymAuthorship" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="combinationAuthorship" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="authorTeam" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="tt:Team" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
            <xs:attribute ref="rdf:resource" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="hasBasionym" minOccurs="0" maxOccurs="unbounded" type="tcom:SimpleLinkType"/>
        <xs:element name="basionymFor" minOccurs="0" maxOccurs="unbounded" type="tcom:SimpleLinkType"/>
        <xs:element name="rank" minOccurs="0" maxOccurs="unbounded" type="tcom:SimpleLinkType"/>
        <xs:element name="rankString" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="year" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="hasAnnotation" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="tn:NomenclaturalNote" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute ref="rdf:resource" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="typificationString" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="typifiedBy" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="tn:NomenclaturalType" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
            <xs:attribute ref="rdf:resource" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="rdf:about" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="NomenclaturalType">
    <xs:complexType>
      <xs:sequence>
        
        <!-- external vocabularies -->
        <xs:element ref="dc:title" minOccurs="0" maxOccurs="unbounded"/>
        
        <xs:element name="typeName" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute ref="rdf:resource" use="required">
              <xs:annotation>
                <xs:documentation> The URI in the rdf:resource attribute should be a GUID, preferably LSID, of a TaxonName.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="typeSpecimen" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute ref="rdf:resource" use="required">
              <xs:annotation>
                <xs:documentation> The URI in the rdf:resource attribute should be a GUID, preferably LSID, of a specimen object.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="typeOfType" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute ref="rdf:resource" use="required">
              <xs:annotation>
                <xs:documentation> The URI in the rdf:resource attribute should be should be one of those defined in http://rs.tdwg.org/ontology/voc/TaxonName for NomenclaturalTypeTypeTerms e.g.
                  http://rs.tdwg.org/ontology/voc/TaxonName#Holotype </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NomenclaturalNote">
    <xs:complexType>
      <xs:sequence>
        <!-- external vocabularies -->
        <xs:element ref="dc:title" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="dc:identifier" minOccurs="0" maxOccurs="unbounded"/>
        <!-- local properties -->
        <xs:element name="noteType" type="tcom:SimpleLinkType">
          <xs:annotation>
            <xs:documentation> The URI in the rdf:resource attribute should be should be one of those defined in http://rs.tdwg.org/ontology/voc/TaxonName for NomenclaturalNoteTypes e.g.
              http://rs.tdwg.org/ontology/voc/TaxonName#BasedOn </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="objectTaxonName" minOccurs="0" maxOccurs="unbounded" type="tcom:SimpleLinkType"/>
        <xs:element name="note" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="ruleConsidered" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="code" minOccurs="0" maxOccurs="unbounded" type="tcom:SimpleLinkType">
          <xs:annotation>
            <xs:documentation>The URI in the rdf:resource attribute should be should be one of those defined in http://rs.tdwg.org/ontology/voc/TaxonName for NomenclaturalCodes e.g.
              http://rs.tdwg.org/ontology/voc/TaxonName#ICBN</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
