ontology/voc/tapir/structure/TaxonName/TaxonName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:tn="http://rs.tdwg.org/ontology/voc/TaxonName#">
  <xs:import namespace="http://rs.tdwg.org/ontology/voc/TaxonName#" schemaLocation="TaxonName_content.xsd"/>
  <xs:element name="RDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tn:TaxonName" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="about" type="xs:anyURI"/>
  <xs:attribute name="resource" type="xs:anyURI"/>
</xs:schema>
